.container{
    margin: 10px;
    border: 1px solid black;
    height: 250px;
    width: 250px;
    float: left;
}
.child{
    border: 1px solid black;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;    
}